{% extends 'shared/base.html' %}

{% block header %}
{% include 'shared/header.html' %}
{% endblock header %}

{% block carousel %}
{% comment %} {% include 'shared/carousel.html'%} {% endcomment %}
{% endblock carousel %}

{% block content %}
    <nav class="bd-subnavbar pt-2 pb-3 pb-md-2">
        {% include 'blog/lego/subnavbar.html' %}
        {% include 'blog/lego/article_detail.html' %}
    </nav>
{% endblock content %}



{% block footer %}
{% include 'shared/footer.html' %}
{% endblock footer %}


